@page
@using UserDaoLibrary;
@{
}

<div class="text-center">
    <h1 class="display-4">User List</h1>

    
    @{
        SqliteUserDao dao = new SqliteUserDao();
        List<User> users = dao.GetUsers();
        dao.Close();
    }
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (User user in users) {
                    <tr>
                        <td><a 
                            asp-area="" 
                            asp-page="/UserDetail"
                            asp-route-id="@user.Id">@user.Id</a></td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@(user.Active ? "Active" : "Inactive")</td>
                        <td><a class="btn btn-danger"
                               asp-area=""
                               asp-page="/UserDelete"
                               asp-route-id="@user.Id">Delete</a></td>
                    </tr>
            }
        }
        </tbody>
    </table>


</div>
